* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Work Sans', sans-serif;
}
/* .navbar{
    background-color: #002B5B;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar-logo{
    display: flex;
    align-items:center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color:#ffffff;

}


.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item{
    height: 80px;

}
.navbar-link{
    float: right;
    color:#ffffff;
    display: flex;
    align-items: center;
    
    text-decoration: none;
    padding: 0 1rem;
     height: 100%;
}

.navbar-link:hover{
    color: #E0144C;
    transition: all 0.3s ease;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
    color: #fff;
    font-size: 50px;
 
}
@media (max-width: 952px){
    .checkbtn{
        display: block;
    }
    #check:checked::after ~ ul {
       width: 100%;
       height: 50vh;
    }
} */

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        float: right;
        flex-grow: 0;
        
        
    }
   .container{
    padding-right: 0px;
   }
   .navbar-brand{
    padding-left: 0px;
}

}
    /* Hero section */

.main{
    background-color: #002B5B;
}
.main-container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    margin: 0 auto;
    height: 80vh;
    z-index: 1;
    background-color: #002B5B;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main-content h1{
    font-size: 5rem;
    color: #ffffff;
    background-size: 100%;
}
.main-content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main-btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #D2001A 0%, #E0144C 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.main-btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.main-btn:after{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4837ff;
    transition: all o.35s;
    border-radius: 4px;
}
.main-btn:hover{
    color: #fff;
}
.main-btn:hover:after{
    width:100%;
}

.main-img-container{
    text-align: center;
}
#main-img{
    height: 80%;
    width: 80%;
}

/* Media Query for mobile */

@media (max-width: 768px){
    .main{
        background-color: #002B5B;
    }
    .main-container{
        padding-top:100px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        justify-self: center;
        margin: 0 auto;
        height: 80vh;
        z-index: 1;
        background-color: #002B5B;
        width: 100%;
        max-width: 1300px;
       
    }
    .main-content h1{
        font-size: 1.5rem;
        color: #ffffff;
        background-size: 100%;
    }
    .main-content p{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: #fff;
    }
    
    .main-btn{
        font-size: 1rem;
        background-image: linear-gradient(to top, #D2001A 0%, #E0144C 100%);
        padding: 14px 32px;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 1rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }
    .main-btn a{
        position: relative;
        z-index: 2;
        color: #fff;
        text-decoration: none;
    }
    .main-btn:after{
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #4837ff;
        transition: all o.35s;
        border-radius: 4px;
    }
    .main-btn:hover{
        color: #fff;
    }
    .main-btn:hover:after{
        width:100%;
    }
    
    .main-img-container{
        text-align: center;
    }
    #main-img{
        height: 0%;
        width: 0%;
        
    }
}
@media (min-width: 769px) and (max-width: 1023px){
    .main-container{
        padding-top:100px;
        display: grid;
        align-items: center;
        height: 50vh;
        justify-self: center;
        margin: 0 auto;
        z-index: 1;
        background-color: #002B5B;
        width: 100%;
        max-width: 1300px;
       
    }
    .main-content h1{
        font-size: 2rem;
        color: #ffffff;
        background-size: 100%;
    }
    .main-content p{
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
    }
    
    .main-btn{
        font-size: 1rem;
        background-image: linear-gradient(to top, #D2001A 0%, #E0144C 100%);
        padding: 14px 32px;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 1rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }
    .main-btn a{
        position: relative;
        z-index: 2;
        color: #fff;
        text-decoration: none;
    }
    .main-btn:after{
        position: absolute;
        content: '';
        top:0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #4837ff;
        transition: all o.35s;
        border-radius: 4px;
    }
    .main-btn:hover{
        color: #fff;
    }
    .main-btn:hover:after{
        width:100%;
    }
    
    .main-img-container{
        text-align: center;
    }
    #main-img{
        height: 30%;
        width: 100%;
    }
    
}

/* About Us Section */
.about{
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 5rem;
    color: #002B5B;
}
.about h1{
    color: #002B5B;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    background-size: 100%;
}
.about-content{
    margin: 3rem;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
}
.about-content p{
    font-size: 2rem;
    font-weight: 500;
    color: #002B5B;
}
.about-img-card{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    margin-top: 150px;
}
.about-card{
    margin: auto auto;
}
.about-card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@media (max-width: 768px){
    .about{
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 1rem;
    }
    .about h1{
        color: #002B5B;
        margin-bottom: 1rem;
        font-size: 2.5rem;
        background-size: 100%;
    }
    .about-content{
        margin: auto;
        text-align: center;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-content p{
        font-size: 1rem;
        font-weight: 200;
        color: #002B5B;
    }
    .about-img-card{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        margin-top: 50px;
    }
    .about-card{
        margin: auto auto;
        justify-content: center;
    }
    .about-card img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    

}
@media (min-width: 769px) and (max-width: 1023px){
    .about{
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 1rem;
    }
    .about-content{
        margin: 3rem;
        text-align: center;
        justify-content: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Clients Section */
.clients-section{
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    padding-left: 200px;
    padding-right: 200px;
}

.clients-heading{
     color: #002B5B;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-size: 3.5rem;
    background-size: 100%;
}

@media (max-width:768px){
    .clients-section{
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 1rem;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .clients-heading{
         color: #002B5B;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 2.5rem;
        background-size: 100%;
    } 
  
    .clients-logo{
        width: 45%;
        height: 45%;
        object-fit: cover;

    }
}


/* Services Section */

.services{
    text-align: center;
    justify-content: center;
    padding-top: 5rem;
    background-color: #002B5B;
    padding-bottom: 2rem ;
    
}
.services h1{
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
}
.services img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.card{
    margin-bottom: 3rem;
}


@media (max-width: 768px){
    .services{
        text-align: center;
        justify-content: center;
        padding-top: 2rem;
        background-color: #002B5B;
        padding-bottom: 2rem ;
        
    }
    .services h1{
        text-align: center;
        font-size: 2.5rem;
        color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .services img{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .card{
        margin-bottom: 1rem;
        width: 20;
        height: auto;
    }
    .services .row{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        align-self: center;
    }
    .card-col{
        padding: 30px;
    }
    clients-heading{
        padding-top: 25px;
    }

   
}

/* Contact Us */
.contact-container{
    background-color: #002B5B;
    text-align: center;
    justify-content: center;
    color: #fff;
    margin-right: 0px;
    margin-top: 100px;
    
}
.contact-container h1{
    padding-top: 100px;
    font-size: 3.5rem;    
}
.row-content{
    padding-right: 0px;
    text-align: center;
    display: flex;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
}
.main-contact-content{
   font-weight: 200;
   text-align: left;
   font-size: 1.2rem;
   padding-right: 200px;
}
.form-content{
    text-align: left;
    padding-left: 200px;
}
i{
    margin: 1rem;
    height: 100px;
}
form{
padding-top:20px;
}
input{
    width: 15;
}
@media (max-width:768px){
    .contact-container{
        background-color: #002B5B;
        text-align: center;
        justify-content: center;
        color: #fff;
        margin-right: 0px;
        margin-top: 50px;
        
    }
    .contact-container h1{
        padding-top: 50px;
        font-size: 2.5rem;    
    }
    .row-content{
        padding-right: 0px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        justify-self: center;
        padding-left: 0px;
        padding-top: 10px;
    }
    .main-contact-content{
       font-weight: 150;
       text-align: center;
       font-size: 1rem;
       padding-right: 0px;
    }
    .form-content{
        text-align: center;
        padding-left: 0px;
        padding-top: 50px;
    }
    i{
        margin: 0.5rem;
        height: 50px;
    }
    form{
    padding-top:20px;
    }

}
body.modal-open {
    overflow: hidden;
}

/* Contact-form Page */

.form-row{
    margin-top:25px;
    margin-bottom: 20px;
}